<ion-header>
	<ion-toolbar>
		<ion-title>
			Dairy
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card *ngFor="let item of items">
		<img src="../assets/img/{{item.imgUrl}}" />
		<ion-card-header>
			<ion-card-title>{{item.name}}</ion-card-title>
			<ion-card-subtitle>₹ {{item.price}} ({{item.qty}})</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content>
			{{item.desc}}
		</ion-card-content>
		<div class="mo-add-btns">
			<ion-chip color="primary" outline class="mo-add" *ngIf="item.count == 0" (click)="add(item)"><ion-label>Add</ion-label></ion-chip>
			<ion-chip color="primary" outline *ngIf="item.count > 0">
				<ion-icon (click)="remove(item)" name="remove" color="primary"></ion-icon>
				<ion-label>&nbsp;{{item.count}}&nbsp;</ion-label>
				<ion-icon (click)="add(item)" name="add"></ion-icon>
			</ion-chip>
		</div>
	</ion-card>
</ion-content>
<ion-footer *ngIf="order.total > 0">
	<ion-button fill="clear" (click)="goCarting()" expand="block">Continue</ion-button>
</ion-footer>